h1 {
    text-align: center;
    color: chocolate;
    size: 15px;
}
p {
    font-family: verdana;
    font-size: 20px;
    color: blueviolet;
    text-decoration: underline;
    text-decoration-color: red;

  }
  
  .datestart{
      color: darkcyan;
      font-style: initial;
      
  }
  .h2{
      color: lawngreen;
      font-size: 16px;
  }
  .h3{
    font-family: verdana;
    font-size: 20px;
    color: blueviolet;
    text-decoration: underline;
    text-decoration-color: red;
  }